
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<h2 style="text-align:center">Thanh toán thành công</h2>
<h2 style="text-align:center">Hẹn gặp lại quí khách</h2>
<br />

